      <web:retireContactResponse xmlns:web="http://retirecontact.webservices.poc.businessagility.com/">
         #if(! ${headers.ABErrors} )
         <web:return>OK</web:return>
         #else
         <web:return>ERROR</web:return>
         <web:return>${headers.ABErrors}</web:return>
         #end
      </web:retireContactResponse>
